
.counter {
    width: 100px;
    height: 100px;
    font-size: 80px;
    padding: 25px;
    color: #002ead;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 8px solid #002ead;
    margin-bottom: 15px;
    margin-top: 15px;

}

.counter-container {
    display:flex;
    justify-content: center;
    align-items: center;
}

.buttons-container {    
    flex-wrap: wrap
}